html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Roboto Mono, monospace, Fira Code, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover { text-shadow: 0 0 15px #474753; }
* {
  box-sizing: border-box;
}
