.container {
  display: flex;
  align-content:center;
  justify-content: center;
  flex-direction: column;
}
.banner {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}
.headline {
  margin: 10px;
}

.headImageContainer {
  margin-left: 20px;
}

.headImage {
  border-radius: 50%;
  overflow:hidden;
}
.profileLinkContainer {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.linkItem {
  display: flex;
  padding-left: 20px;
  text-align: center;
  align-self: center;
  justify-self:center;
  height: 30px;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
.infoName {
  font-weight: bolder;
  font-size: 40px;
}
.infoDesignation {
  font-size: 20px;
}
